doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    script(src='https://kit.fontawesome.com/a4c8b22bf5.js', crossorigin='anonymous')
  body
    h1.class1 hello test xin chào bạn 1
    form.update-form(action="http://localhost:4000/products/update")
      input(name="proName", type="text", placeholder="proName")
      input(name="proPrice", type="text", placeholder="proPrice")
      input(type="submit")

    //- img(src="../../dist/src/img/anon.jpg", alt="")
    img.class2(src="", alt="")
    

    noscript  PiedTeam 
    script(src='../../dist/bundle.js')